@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 102, 110, 93; /* Olive Text */
  --background-rgb: 242, 242, 242; /* Light Grey Background */
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb)); /* Ensures background is never black */
  overflow-x: hidden;
}